.icons__footer {
  padding: 8px;
}
.icons__footer:hover {
  background-color:#5e5ef4 ;
}
.icons__footer:hover > i{
  color: #fff;
}
.temporal__view-show{
  width:90%;
  height:150px;
}
.temporal__view-close{
  width:0%;
  height:0px;
  display: none;
}
.temporal__view{
  position:absolute;
  background-color:#fff;
  bottom:30px;
  left:30px;  
  z-index: 100;
  border: 1px solid #5e5ef4;
  border-radius:10px;  
  box-shadow: 1px 1px 10px #b9b9b9;
  transition: .3s;
}

.button__temp-view{
  background-color: #5e5ef4;
  position: absolute;  
  z-index: 1000;
  bottom: 10px;  
  left: 10px;  
  color: #fff;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.histogram__view{
  z-index: 100;
  position:absolute;
  background-color:#fff;
  top:30px;
  right:30px;
  border:1px solid #5e5ef4;
  border-radius:10px;
  box-shadow:1px 1px 10px #b9b9b9;
  transition: .3s ;

}
.histogram__view_amenities{
  z-index: 100;
  position:absolute;
  background-color:#fff;
  top:320px;
  right:30px;
  border:1px solid #5e5ef4;
  border-radius:10px;
  box-shadow:1px 1px 10px #b9b9b9;
  transition: .3s ;

}
.histogram__view_amenities ul{
  list-style: none;
}
.histogram__view-show_amenities{
  width:15%;
  height:250px;  
}
.histogram__view-close_amenities{
  width:0%;
  display: none;  
  height:0px;
}
.histogram__view-show{
  width:15%;
  height:250px;  
}
.histogram__view-close{
  width:0%;
  display: none;  
  height:0px;
}
.button__histogram-view{
  background-color: #5e5ef4;
  position: absolute;  
  top: 10px;  
  z-index: 1000;
  right: 10px;  
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  border-radius: 50%;
}
.button__histogram-view_amenities{
  background-color: #5e5ef4;
  position: absolute;  
  top: 300px;  
  z-index: 1000;
  right: 10px;  
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  border-radius: 50%;
}
.color__marked{
  color: #5e5ef4;
}
.color__marked-selected{
  background-color: #5e5ef4;
}
.color__marked__icon-selected{
  color: #fff;
}
.chartShow{
/*background-color: red;*/
}
.linechart{
  transition: .3s;
}
.chartHide{
  display: none;
}
.color-bars{
  width: 30px;
  height: 15px;
}
.color-bars.with{
  height: 100%;
  width: 15px;
}